# Sanal ortamı görmezden gel
venv/
.venv/

# Ham ve İşlenmiş veri setlerini görmezden gel (Binlerce dosya olduğu için)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Python gereksiz dosyaları
__pycache__/
*.py[cod]
*$py.class

# Veritabanı dosyaları
database/*.sqlite
